$sm: 600px;
$md: 900px;
$lg: 1200px;

$extra-small-background-color: #ff7f50;
$small-background-color: #8a2be2;
$medium-background-color: #a61;
$large-backround-color: #c47;

@mixin for-small-screen {
  @media screen and (min-width: $sm) {
    @content;
  }
}
@mixin for-medium-screen {
  @media screen and (min-width: $md) {
    @content;
  }
}
@mixin for-large-screen {
  @media screen and (min-width: $lg) {
    @content;
  }
}
@mixin for-landscape {
  @media screen and (orientation: landscape) {
    @content;
  }
}
