@import 'breakpoints.scss';

* {
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include for-landscape {
    flex-direction: row;
  }
}
.square {
  width: 100px;
  height: 100px;
  background-color: $extra-small-background-color;
  margin: 8px;

  @include for-small-screen {
    background-color: $small-background-color;
  }
  @include for-medium-screen {
    background-color: $medium-background-color;
  }
  @include for-large-screen {
    background-color: $large-backround-color;
  }
}
